$button1: #0e6cff;
$button2: #ff8700;
$button3: #4caf50;
$text:white;

.btn1 {
    background-color: $button1;
    color: $text;
}

.btn2 {
    background-color: $button2;
    color:$text;
}
.btn3 {
    background-color: $button3;
    color:$text;
}