@mixin borderbutton {
    border: none;
    border-radius: 10px;
}

@mixin imgHero {
    border-color: #640fc5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

@mixin imgfinals {
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px black;
}